<section class="row  border-bottom center-section">
  <article class="col-lg-12">
    <h1> Eat-Da-Burger!</h1>
  </article>
</section>

<section class="row  border-bottom center-section">
  <article class="col-lg-5">
    <h2>Ready for consumption</h2>

    <ul>
      {{#each burgers}}
      {{#unless devoured}}
      {{> burgers/burger-block devour=true}}
      {{/unless}}
      {{/each}}
    </ul>

  </article>

  <article class="col-lg-2">
    <img src="./assets/img/hungry.jpg">
  </article>

  <article class="col-lg-5">
    <h2>Devoured</h2>

    <ul>
      {{#each burgers}}
      {{#if devoured}}
      {{> burgers/burger-block devour=false}}
      {{/if}}
      {{/each}}
    </ul>
  </article>
</section>

<section class="row  border-bottom center-section">
  <article class="col-lg-12">
    <h2>Add a Burger</h2>
    <form class="create-form burger-form">

      <div class="form-group">
        <label for="bu">
          <h5>Burger Name:</h5>
        </label>
        <br>
        <input type="text" id="bu" name="burger_name">
      </div>
      <br>
      <div class="form-group">
        <label for="consume">
          <h5>Devoured?</h5>
        </label><br>
        <input type="radio" name="devour" value="1" checked> Devoured<br>
        <input type="radio" name="devour" value="0"> Just Grilled
      </div>

      <button type="submit">Add Burger</button>
    </form>

  </article>
</section>